.body {
    width: 500px;
}

.museumpicture {
    background-color: #768eef;
    width: 100%;
    padding: 0rem;
}

.museum_picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.nav {
    background-color: #768eef;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    font-size: 50px;
    padding: 40px
}

.content1 {
    color: #ff7070;
    text-align: center;
    font-size: 50px;
    position: relative;
}

.content2 {
    width: auto;
    text-align: center;
    font-size: 50px;
    position: relative;
}

.hr1 {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, transparent, rgb(182, 175, 175), transparent);
}

.cosmology {
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: 40px;
    color: #ff7070;
}

p {
    margin-left: 25%;
    text-align: center;
    width: 50%;
    font-size: 20px;
}

.cosmopic {
    margin-left: 25%;
    width: 50%;
    padding: 0rem;
}

.cosmo_pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row {
    display: flex;
    justify-content: center;

}

.column {
    float: left;
    width: 16%;
    padding: 5px;
}

.earth {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.mountain {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.astronaut {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.evolution {
    text-align: center;
}

.evolvepic {
    margin-left: 25%;
    width: 50%;
    padding: 0rem;
}

.evolve {
    margin: 10rem,;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mammoth {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.skeleton {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.ant {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.biologypic {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    padding: 0rem;
}

.biology_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biology {
    text-align: center;
}

.study {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.heart {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.brain {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

